body {
    background-color: #eee;
}

h1, h4 {
    position: relative;
    top: 3em;
    text-align: center;
}

h4 {
    top: 5em;
}

#container {
    display: table;
    margin: 0px auto;
    position: relative;
    top :7em;
}

.outline {
    border: 2px solid black;
    margin: 5px;
}

.result {
    position: relative;
    margin: 0px auto;
    display: table;
    top: 8em;
    font-size: 1.5em;
}

#canvas {
    display: table;
    margin: 0px auto;
    position: relative;
    top: 8em;
    font-size: 1.5em;
}

.playerCanvas, .computerCanvas{
    display: table-cell;
    padding: 0 10px;
}

.disappear {
    display: none;
}

img {
    width: 15em;
    cursor: pointer;
}

img:hover {
    transform: scale(1.2);
}

#info {
    display: flex;
    position: relative;
    top: 10em;
    width: 46.5%;
    margin: 0px auto;
}

.board0, .board1 {
    width: 100%;
    display: table;
    margin: 0px 10px;
    border: 1px solid black;
    padding: 0px 5px;
}

.circle0, .circle1, .circle2, .circle3, .circle4 {
    width: 20px;
    height: 20px;
    border: 3px solid red;
    border-radius: 50%;
    display: table-cell;
}

.circle1 {
    border: 3px solid blue;
}

.circle2 {
    border: 3px solid green;
}

.circle3 {
    border: 3px solid yellow;
}

.circle4 {
    border: 3px solid brown;
}

.checkMark {
    position: relative;
    width: 20px;
    height:20px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.stem {
    position: absolute;
    width: 6px;
    height: 25px;
    background-color: black;
    left:5px;
    bottom:7px;
}

.kick {
    position: absolute;
    right:13px;
    bottom:7px;
    width: 10px;
    height: 6px;
    background-color: black;
}

.button {
    width: 10em;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: rgb(179, 13, 13);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {
      background-color: rgb(224, 32, 32);
      transform: scale(1.2);

    }
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
  }
