#container {
    position: absolute;
    display: flex;   
}

#canvas {
    display: flex;
    position: relative;
    top: 10em;
    font-size: 2em;
}

.playerCanvas {
    width: 50%;
    text-align: center;
}

.disappear {
    display: none;
}

img {
    width: 15em;
    cursor: pointer;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
